@model List<Doctor>

<h1>Doctores View SQL Server/Oracle</h1>
<p><a asp-controller="Doctores" asp-action="Create">Create New Doctor</a></p>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>IdHospital</th>
			<th>IdDoctor</th>
			<th>Apellido</th>
			<th>Especialidad</th>
			<th>Salario</th>
			<th>Acciones</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Doctor doctor in Model){
			<tr>
				<td>@doctor.IdHospital</td>
				<td>@doctor.IdDoctor</td>
				<td>@doctor.Apellido</td>
				<td>@doctor.Especialidad</td>
				<td>@doctor.Salario</td>
				<td><a asp-controller="Doctores" asp-action="Delete" asp-route-iddoctor="@doctor.IdDoctor" class="btn btn-danger">Eliminar</a></td>
			</tr>
		}
	</tbody>
</table>